.hero {
    margin: 0px 120px;
    margin-top: 120px;
}

.HeroText {
    color: rgb(255, 255, 255);
    font-size: 105px;
    font-weight: 500;
    line-height: 120px;
    margin-bottom: 110px ;

}

.Hero-explore {
    display: flex;
    align-items: center;
    gap: 50px;
    /* margin-top: 70px ; */
    width: fit-content;
    padding: 5px 8px;
    padding-left: 30px;
    border-radius: 60px;
    background: white;
    cursor: pointer;
}

.Hero-explore p {
    color: #1d1d1d98;
    font-size: 20px;
    font-weight: 500;

}

.her_dot_play {
    margin-top: 150px;
    display: flex;
    justify-content: space-between;
}

.hero_dots {
    display: flex;
    align-items: center;
    gap: 23px;
    
}
.hero-dot{
    width: 15px;
    height: 15px;
    background: white;
    border-radius: 7.5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    list-style: none;
}
.orange{
    background: #ff5858;
}
.hero-play{
    display: flex;
    align-items: center;
    gap: 30px
}
.hero-play p{
    color: white;
    font-size: 19px;

}